{% extends 'base.html' %}
{% block title %}
Expense Category List
{% endblock title %}

{% block content %}
<main>
    <div>
        <a href="{% url "create_category" %}">Create</a>
    </div>
    <table>
        <thead>
            <th>Name</th>
            <th>Number of Receipts</th>
        </thead>
        <tbody>
            {% for category in categories %}
            <tr>
                <td>{{ category.name }}</td>
                <td>{{ category.receipts.all|length }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock content %}
